.aside-wrapper {
    background-color: #BDBDBD;
    height: 100vmax;

    padding: 30px 32px 14.5px;
}

.aside-title {
    font-size: 12px;
    font-weight: 400;
}

.aside-content {
    display: flex;
    flex-direction: column;
}

.sort-btn:nth-child(n + 2) {
    margin-top: 10px;
}