.card-wrapper {
    background-color: #F3F3F3;
    padding: 9px 10px 10px;
    border-radius: 8px;
    font-size: 11px;
    margin: 15px 0;
    width: 420px;
}

.card-content {
    display: flex;
    justify-content: space-between;
}

.card-info {
    color: #A3A3A3;
}

.card-info {
    margin-bottom: 0;
}

.card-info:nth-child(-n + 1) {
    margin-top: 0;
}

.card-details {
    color: #000000;
}

.card-footer {
    display: flex;
    flex-direction: column-reverse;
}
