.main-wrapper {
    padding: 19px 62px 25px;
}

.main-title {
    margin: 0;

    font-size: 14px;
    font-weight: 700;
}

.main-footer {
    display: flex;
    justify-content: flex-end;
}

.footer-content {
    font-size: 16px;
}